.home-container{
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80vh ;
    grid-template-areas:
      "line1 line1"

}
.line-one{
    align-content: center;
    justify-content: center;
    grid-area: line1;
    width: 70%;
    background-image: url("../../assets/jpg/background.jpg");
    background-size: inherit;
    margin-left: 17%;
    margin-right: 17%;
    background-size: 100%;
    background-repeat: no-repeat;
  

}
.section-title{
    font-size: 2vw;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 40%;
    margin-left: 10px;
}

  
  